.contact-us {
	grid-column: col-start 3 / -1;
	grid-row: 3 / -1;

	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: max-content 1fr;
	align-content: start;

	min-height: 100vh;

	@include respond(phone) {
		grid-column: 1 / -1;
		grid-row: 4 / -1;
	}

	&__map {
		grid-column: 1 / -1;
		grid-row: 2 / 3;

		padding: 3rem;
	}

	&__info-detail {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
		padding: 3rem;

		align-self: center;

		display: grid;
		grid-template-columns: repeat(8, 1fr);

		@include respond(phone) {
			font-size: 1.6rem;
		}
	}

	&__heading {
		grid-column: 1 / -1;

		color: $color-secondary-dark;
		margin-bottom: 1rem;

		@include respond(phone) {
			justify-self: center;
		}
	}

	&__sub-detail {
		grid-column: 1 / -1;

		margin-bottom: 1rem;
		margin-left: 2rem;

		@include respond(phone) {
			margin-left: 0;
		}
	}

	&__icon {
		color: $color-primary-light;
	}

	&__opening-hours-container {
		display: grid;
		grid-template-columns: repeat(8, 1fr);

		margin-top: 1rem;
	}

	&__opening-hours-list {
		grid-column: 1 / -1;
	}

	&__list-element {
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		@include respond(phone) {
			grid-template-columns: 1fr;
			justify-items: start;
		}

		@include respond(tab-port) {
			grid-template-columns: 1fr;
			justify-items: start;
		}
	}

	&__hours {
		margin-left: 3rem;
		border-right: 2px dotted $color-primary-light;

		@include respond(phone) {
			display: grid !important;
			grid-template-columns: repeat(2, 1fr);

			border: 0;
		}

		@include respond(tab-port) {
			display: grid !important;
			grid-template-columns: repeat(2, 1fr);

			border: 0;
		}

		&-time {
			@include respond(phone) {
				margin-left: 2rem;
			}
		}
	}
}
