.menu-list {
	grid-column: col-start 3 / -1;
	grid-row: 3 / -1;

	padding: 3rem;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	align-content: start;

	min-height: 100vh;

	&__group-list {
		grid-column: 1 / -1;
		font-size: 1.5rem;
		margin-top: 1rem;

		display: grid;
		grid-template-columns: repeat(10, 1fr);

		align-items: center;
	}

	&__menu-name {
		grid-column: 1 / 4;
	}

	&__menu-description {
		grid-column: 4 / 7;
	}

	&__action-buttons {
		grid-column: 8 / -1;
	}

	&__new-menu-button {
		grid-column: 1 / -1;

		margin-top: 3rem;
		display: grid;
		justify-content: center;
	}
}
