.menu-content {
    grid-column: col-start 3 / -1;
    grid-row: 3 / -1;

    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    &__header {
        grid-column: 1 / -1;

        display: grid;
        justify-content: center;
        align-content: center;

        font-family: $font-Menu;
        font-size: 5rem;
        letter-spacing: 0.5rem;
        color: $color-secondary-light;
        text-transform: uppercase;
    }

    &__menu-container-top {
        grid-column: 1 / -1;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-column-gap: 5rem;
    }

    &__menu-container {
        grid-column: 1 / -1;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 5rem;
    }

    &__menu-block {
        display: grid;
    }

    &__category {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        text-align: center;
        font-size: 2rem;
        color: $color-primary-light;
        text-transform: uppercase;
        border-bottom: 1px solid $color-primary-light;
    }

    &__menu-item {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        margin-bottom: 3rem;
    }

    &__title {
        grid-column: 1 / 4;
        grid-row: 1 / 2;

        text-transform: uppercase;
        color: $color-secondary-light;
    }

    &__price {
        grid-column: 4 / 5;
        grid-row: 1 / 2;

        margin-top: 0;
        display: grid;
        justify-content: end;
    }

    &__description {
        grid-column: 1 / 4;
        grid-row: 2 / 3;

        margin-top: 0;
    }
}
