.menu-create {
    grid-column: col-start 3 / -1;
    grid-row: 3 / -1;

    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-content: start;

    &__form {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    &__preview {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }

    &__field {
    }
}
