.menu-list {
	grid-column: col-start 3 / -1;
	grid-row: 3 / -1;

	padding: 3rem;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	align-content: start;

	min-height: 100vh;

	@include respond(phone) {
		grid-column: 1 / -1;
		grid-row: 4 / -1;
	}

	&__group-list {
		grid-column: 1 / -1;
		font-size: 1.5rem;
		margin-top: 1rem;

		display: grid;
		grid-template-columns: repeat(10, 1fr);

		align-items: center;
		@include respond(phone) {
			justify-items: start;
		}

		@include respond(tab-land) {
			justify-items: start;
		}
	}

	&__menu-name {
		grid-column: 1 / 4;
		@include respond(phone) {
			grid-column: 1 / 5;
		}

		@include respond(tab-land) {
			grid-column: 1 / 5;
			grid-row: 1 / 2;
		}
	}

	&__menu-description {
		grid-column: 4 / 7;
		@include respond(phone) {
			grid-column: 1 / -1;
			margin-left: 2.5rem;
		}

		@include respond(tab-land) {
			grid-column: 1 / -1;
			margin-left: 2.5rem;
		}
	}

	&__action-buttons {
		grid-column: 8 / -1;
		@include respond(phone) {
			margin-top: 1rem;
			grid-column: 5 / -1;

			justify-self: end;
		}

		@include respond(tab-land) {
			margin-top: 1rem;
			grid-column: 5 / -1;

			justify-self: end;
		}
	}

	&__action-button {
		@include respond(phone) {
			font-size: 1rem !important;
		}
	}

	&__new-menu-button {
		grid-column: 1 / -1;

		margin-top: 3rem;
		display: grid;
		justify-content: center;
	}

	&__info-display {
		grid-column: 1 / -1;

		display: grid;
		justify-content: space-around;
		border: 1px dashed $color-primary-light;
		padding: 10rem;
	}
}
