.nav-sidebar {
	grid-column: full-start / col-end 2;
	grid-row: 3 / -1;

	background-color: $color-grey-dark-1;

	display: grid;
	align-content: space-between;
	min-height: 100vh;

	@include respond(phone) {
		grid-column: 1 / -1;
		grid-row: 3 / 4;

		min-height: min-content;
	}
}
