.nav-sidebar {
    grid-column: full-start / col-end 2;
    grid-row: 3 / -1;
}

.sidebar {
    background-color: $color-grey-dark-1;

    flex: 0 0 18%; //Use flex-basis to define the size of the item

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
