.user-authentication {
    &__content {
        display: grid;
        // text-align: center;
    }

    &__button {
        margin: 5px !important;
    }

    &__link {
        color: #fff;

        &:hover,
        &:visited {
            color: $color-grey-light-1;
        }
    }

    &__logout {
        display: grid;
        justify-content: center;
    }
}
